<div class="vertical-views">
  <div class="paginator" id="paginator-top">
    {% include 'components/paginator.html' %}
  </div>
  <div class="ad-container">
    <script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
    <ins id="871536" data-width="468" data-height="72"></ins>
    <script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':871536});</script>
  </div>
  <div id="no-posts">
    {% if results|length == 0 %}
      <h1 class="subtitle">Nobody here but us chickens!</h1>
      <p class="subtitle">
        There are either no more posts beyond this page, or this user hasn't been imported.
      </p>
    {% endif %}
  </div>
  <div class="content-grid" id="content">
    {% for post in results %}
      {% with post=post %}
        {% include 'components/preview.html' %}
      {% endwith %}
    {% endfor %}
  </div>
  <div class="ad-container">
    <script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
    <ins id="871536" data-width="468" data-height="72"></ins>
    <script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':871536});</script>
  </div>
  <div class="paginator" id="paginator-bottom">
    {% include 'components/paginator.html' %}
  </div>
</div> 