@use "variables.scss" as *;
/* SASS mixins go there */

@mixin article_card() {
  background-color: var(--colour1-tertiary);
  border-radius: 10px;
  padding: 0;
  
  & > * {
    padding: $size-small;
  }
}
