{% extends 'components/shell.html' %}
{% block content %}
  <div class="page" id="page">
    <div class="jumbo" style="background-color: #ffc107; color: #000">
      The frontend server is overloaded; things may load slowly or error out. Our team is working hard on a fix. Thank you for your patience.
    </div>
    <div class="jumbo">
      <p>
        Welcome to <strong>Kemono,</strong> a scraper for Patreon, Pixiv Fanbox, SubscribeStar, Gumroad, Discord, and DLsite. Contributors here upload content from paywalls, and share it here for easy searching and organization.<br>
        To get started viewing paywalled content, either search for creators on the <strong>[Artists]</strong> tab, or search for content on the <strong>[Recent Posts]</strong> tab.<br>
        If you want to contribute content, click the <strong>[Import]</strong> tab.
      </p>
    </div>
    <div class="jumbo">
      <h2>Announcements</h2>
      <p>
        <b>June 8, 2021 -</b> The Gumroad importer has been patched. The SubscribeStar importer is currently non-functional for unknown reasons; investigations are underway.<br>
        <b>June 6, 2021 -</b> Added the announcements section. Watch this space for the latest updates and developments!
      </p>
    </div>
  </div>
{% endblock %}