{% extends 'components/shell.html' %}
{% block content %}
  <div class="page" id="page">
    <div class="jumbo" style="background-color: #ffc107">
      <h2 style="color: #000">Scheduled downtime</h2>
      <p style="color: #000">
        Our data server will be having a scheduled downtime at about 20:30 UTC (August 2, 2021) due to infrastructure maintenance that will last for about 24 hours. During this time, original size files may not load. The importer will remain functional. We appreciate your patience.
      </p>
    </div>
    <div class="jumbo" style="background-color: #000C66;">
      <h2>We're looking for developers!</h2>
      <p>
        Want to help develop new features and improve our codebase? Consider joining the development team if you have experience working with Python <i>and/or</i> HTML/CSS/Javascript. Contact the administrator at <a>kemonoparty@protonmail.com</a> if you are interested!
      </p>
    </div>
    <div class="jumbo">
      <p>
        Welcome to <strong>Kemono,</strong> a scraper for Patreon, Pixiv Fanbox, SubscribeStar, Gumroad, Discord, DLsite, and Fantia. Contributors here upload content from paywalls, and share it here for easy searching and organization.<br>
        To get started viewing paywalled content, either search for creators on the <strong>[Artists]</strong> tab, or search for content on the <strong>[Recent Posts]</strong> tab.<br>
        If you want to contribute content, click the <strong>[Import]</strong> tab.
      </p>
    </div>
    <div class="jumbo">
      <h2>Announcements</h2>
      <p>
        <b>July 30, 2021</b> - Kemono is now able to import direct messages from Patreon.<br>
        <b>July 26, 2021</b> - Comment importing has been implemented for Pixiv Fanbox artists. You do not need to flag anything; comments will automatically appear the next the importer encounters their posts.<br>
        <b>July 10, 2021 -</b> We now have <a href="https://twitter.com/kemonodotparty">an official Twitter account!</a><br>
        <b>July 7, 2021 -</b> Comment importing has been implemented for Patreon artists. You <i>do not</i> need to flag anything; comments will automatically appear the next the importer encounters their posts.<br>
        <b>June 25, 2021 -</b> Added Fantia support.<br>
        <b>June 13, 2021 -</b> It's been a stressful few days, but we've managed to more or less fix the performance issues with small tweaks to how the site works. Additionally, multiple reliability improvements have been made to the importer. I'm aware Partychan is down, but I don't own/manage the servers and the person who does has not responded to my messages. Regardless, I will try my best to get the board back up and running as soon as possible.<br>
        <b>June 8, 2021 -</b> The Gumroad importer has been patched. The SubscribeStar importer is currently non-functional for unknown reasons; investigations are underway.<br>
        <b>June 6, 2021 -</b> Added the announcements section. Watch this space for the latest updates and developments!
      </p>
    </div>

    <div class="jumbo verizon-warning" style="background-color: #000;">
      <div style="text-align: center;">
        <img class="verizon" src="data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCAzNiA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTMuMjQ0NiAzMi4wNjExTDI4Ljc5MTggMEgzNS4zOTM5TDE1LjkwNjggNDBIMTAuMjYzTDAuNTcyNjkzIDE5Ljk0OTFINy4yODEzOEwxMy4yNDQ2IDMyLjA2MTFaIiBmaWxsPSIjRDUyQjFFIi8+PC9zdmc+">
        <img class="vinerizon" src="/static/vinerizon.png" loading="lazy">
        <h2>For Verizon users</h2>
        <p>
          <a href="https://torrentfreak.com/why-is-verizon-blocking-pirate-sites-such-as-nyaa-and-mangadex-210608/">The IP addresses for our data server, Nyaa.si, and Mangadex have been blocked by Verizon, a United States ISP.</a> Requests for images and files made on their network may not load properly. You may be able to bypass this restriction by using VPNs or <a href="https://1.1.1.1/">Cloudflare WARP.</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
