{% extends 'components/shell.html' %}

{% from 'components/timestamp.html' import timestamp %}

{% block content %}
<section 
  class="site-section site-section--importer-dms"
>
  <header class="site-section__header">
    <h1 class="site-section__heading">DM review</h1>
  </header>
  <form
    id="dm-approval"
    class="dms" 
    method="POST"
  >
    {% for dm in props.dms %}
      <div>
        <input 
          type="checkbox" 
          name="approved_ids"
          value="{{ dm.id }}"
          id="{{ dm.id }}"
        >
          {{ direct_message(dm) }}
        <label for="{{ dm.id }}">#{{ dm.id }}</label>
      </div>
    {% else %}
      <p>
        There are no DMs waiting for approval.
      </p>
    {% endfor %}
    <div class="form__section">
      <button 
        type="submit" 
        class="form__button form__button--submit"
      >
        Submit checked DMs for approval.
      </button>
    </div>
  </form>
</section>
{% endblock %}

{% macro direct_message(dm) %}
  <article 
    class="direct-message" 
    data-id="{{ dm.id }}"
  >
    <header class="direct-message__header">
      <span>{{ dm.user }}</span> <span>({{ dm.service }})</span>
    </header>
    <section class="direct-message__body">
      <div>
        {{ dm.content | safe }}
      </div>
      {% if dm.file %}
        <div>
          {{ dm.file }}
        </div>
      {% endif %}
      {% if dm.embed %}
        <div>
          {{ dm.embed }}
        </div>
      {% endif %}
    </section>
    <footer class="direct-message__footer">
      <div>
        {{ timestamp(dm.published) }}
      </div>
      <div>
        {{ timestamp(dm.added) }}
      </div>
    </footer>
  </article>
{% endmacro %}
