{% extends 'components/shell.html' %}

{% from 'components/cards.html' import dm_card %}

{% block content %}
<section 
  class="site-section site-section--importer-dms"
>
  <header class="site-section__header">
    <h1 class="site-section__heading">DM review</h1>
  </header>
  <form
    id="dm-approval"
    class="dms" 
    method="POST"
  >
    {% for dm in props.dms %}
      <div>
        <input 
          type="checkbox" 
          name="approved_ids"
          value="{{ dm.id }}"
          id="{{ dm.id }}"
        >
          {{ dm_card(dm) }}
        <label for="{{ dm.id }}">#{{ dm.id }}</label>
      </div>
    {% else %}
      <p>
        There are no DMs waiting for approval.
      </p>
    {% endfor %}
    <div class="form__section">
      <button 
        type="submit" 
        class="form__button form__button--submit"
      >
        Submit checked DMs for approval.
      </button>
    </div>
  </form>
</section>
{% endblock %}
