@use "../css/variables" as *;

.site-section--importer-status {

  .import {

    &__stats {
      position: sticky;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      gap: $size-normal;
      margin-left: auto;
    }

    &__status {}
    &__count {
      transition-duration: var(--duration-global);
      transition-property: visibility, opacity;

      &--invisible {
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  .loading-placeholder {
    transition-duration: var(--duration-global);
    transition-property: visibility, opacity;

    &--complete {
      position: absolute;
      visibility: hidden;
      opacity: 0;
    }
  }

  // .import-id {
  //   visibility: hidden;
  //   transition-duration: var(--duration-global);
  //   transition-property: visibility, opacity;
  // }

  .jumbo.no-posts {
    background-color: hsl(211, 100%, 49%);
    margin: 0;
  }
  
  .log-list {
    list-style: none;
    padding: 1em 0;
    opacity: 0;
    visibility: hidden;
    transition-duration: var(--duration-global);
    transition-property: visibility, opacity;

    &--loaded {
      opacity: 1;
      visibility: visible;
    }

    &__item {
      line-height: 1.5;
    }
  }
}
