.site-section--importer-status {

  .import-id {
    visibility: hidden;
    transition-duration: var(--duration-global);
    transition-property: visibility, opacity;
  }

  .jumbo.no-posts {
    background-color: hsl(211, 100%, 49%);
    margin: 0;
  }
  
  .log-list {
    list-style: none;
    padding: 1em 0;

    &__item {
      line-height: 1.5;
    }
  }
}
