{% extends 'components/shell.html' %}
{% block content %}
<div class="page" id="page">
  <h1>Support kemono.party</h1>
  <p>
    This project was started as a small project out of pure boredom over one winter vacation, and has grown beyond what I could ever imagine. While I will always find ways to keep the site running one way or another, I'd like to provide bounties for developers to work on Kemono when I can't, make upgrades as Kemono's userbase grows exponentially, and fund research into paysite APIs to create more scrapers. I don't want to pressure my users to reach monthly donation goals and put terabytes of archived content in limbo, but I would also like to keep personal costs within sanity.<br>
    Even if you do not have the resources or funds to help out in the ways below, <i>thank you for using kemono.party.</i> The continued usage of the site alone gives me the drive to continue working on it.
  </p>
  <a href="https://liberapay.com/kemono.party/donate" target="_blank"><img src="https://liberapay.com/assets/widgets/donate.svg"></a>
  <h2>Cryptocurrency</h2>
  <p>
    Bitcoin: <a href="/static/qr/btc.png">bc1qj8chz6ve9akg6j6y4w4f5t9mrplalvtec28csu</a><br>
    Ethereum: <a href="/static/qr/eth.png">0x86593bE87306a4888c10dd4B6CFDa94D25DFC263</a><br>
    Monero: <a href="/static/qr/mnr.png">43rXX1e5pGrhB54MF63hAPVotB9rTPfJzXBioC5DYfMmXjxXmoHV5RzVbM3RZedgpnjTQrEqgLR5idpHJPXKDRoYSybkKTN</a><br>
    Ripple: <a href="/static/qr/rip.png">r38nxuCXnaE4uuZ9y5vQDxuhGbz6V3Zmc8</a><br>
  </p>
  <h2>Contact</h2>
  <p>
    If you have any other offers, <a href="mailto:admin@kemono.party">contact me.</a>
  </p>
</div>
{% endblock %}
