{% extends 'components/shell.html' %}

{% from 'components/card_list.html' import card_list %}
{% from 'components/cards.html' import user_card, user_card_header %}

{% block content %}
  <div class="site-section site-section--updated page" id="page">
    {% if results|length %}
      <div class="paginator" id="paginator-top">
        {% include 'components/paginator.html' %}
      </div>
      <div class="ad-container">
        <!-- JuicyAds v3.1 -->
        <script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
        <ins id="933636" data-width="468" data-height="72"></ins>
        <script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':933636});</script>
        <!--JuicyAds END-->
        <br>
        <small>
          <a href="https://manage.juicyads.com/juicysites.php?id=256990">
            [Advertise on Kemono]
          </a>
        </small>
      </div>
    {% endif %}
    {% call card_list('table') %}
      {{ user_card_header(is_date=true) }}
      {% for user in results %}
        {{ user_card(user, is_date=true) }}
      {% else %}
        <p class="po-posts subtitle">
          No artists found for your query.
        </p>
      {% endfor %}
    {% endcall %}
    {% if results|length %}
      <div class="ad-container">
        <!-- JuicyAds v3.1 -->
        <script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
        <ins id="933639" data-width="468" data-height="72"></ins>
        <script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':933639});</script>
        <!--JuicyAds END-->
        <br>
        <small>
          <a href="https://manage.juicyads.com/juicysites.php?id=256990">
            [Advertise on Kemono]
          </a>
        </small>
      </div>
      <div class="paginator" id="paginator-bottom">
        {% include 'components/paginator.html' %}
      </div>
    {% endif %}
  </div>
{% endblock %}
