.header {
  padding: 5px 20px;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  text-align: center;

  & li {
    color: var(--colour0-primary);
    display: inline;
    list-style-type: none;
    margin: 0 0.5em 0 0;

    & a {
      --local-colour1-primary: var(--colour0-primary);
      --local-colour1-secondary: var(--colour0-primary);
      --local-colour2-primary: var(--colour1-tertiary);
      --local-colour2-secondary: var(--colour1-secondary);

      &.aux-link {
        font-weight: bold;
        
        &--support {
          --local-colour1-primary: hsl(3, 100%, 70%);
          --local-colour1-secondary: hsl(3, 70%, 65%);
          --local-colour2-primary: hsl(3, 100%, 20%);
          --local-colour2-secondary: hsl(3, 70%, 20%);
        }

        &--board {
          --local-colour1-primary: hsl(224, 27%, 49%);
          --local-colour1-secondary: hsl(224, 27%, 49%);
          --local-colour2-primary: hsl(224, 27%, 20%);
          --local-colour2-secondary: hsl(224, 15%, 20%);
        }

        &--telegram {
          --local-colour1-primary: hsl(200, 100%, 50%);
          --local-colour1-secondary: hsl(200, 70%, 50%);
          --local-colour2-primary: hsl(210, 100%, 20%);
          --local-colour2-secondary: hsl(210, 70%, 20%);
        }

        &--tpd {
          --local-colour1-primary: hsl(35, 100%, 50%);
          --local-colour1-secondary: hsl(35, 100%, 50%);
          --local-colour2-primary: hsl(35, 100%, 20%);
          --local-colour2-secondary: hsl(35, 70%, 20%);
        }
      }
    }

    
  }
}

.subheader {
  padding: 5px 20px;
  margin: 0;
  font-size: 14px;
  text-align: center;

  &:empty {
    display:none;
  }

  & li {
    color: var(--colour0-primary);
    display: inline;
    list-style-type: none;
    margin: 0 0.5em 0 0;

    & a {
      --local-colour1-primary: var(--colour0-primary);
      --local-colour1-secondary: var(--colour0-primary);
      --local-colour2-primary: var(--colour1-tertiary);
      --local-colour2-secondary: var(--colour1-secondary);
    }
  }
}

.current-page {
  background-image: linear-gradient(#444649, #282a2e);
  padding: 6px 10px 6px;
  font-weight: 700;
}
